@font-face {
  font-family: 'IBMPlexSansKR-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 18px;
}

body {
  margin: 0 0 5vh 0;
  background-color: whitesmoke;
  font-family: 'IBMPlexSansKR-Regular';
}

.container {
  margin: 0 20vw;
  padding: 10px 20px;
}
