{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/games/game_form.css' %}">
  <link rel="stylesheet" href="{% static 'css/games/game_adventure.css' %}">
  {% endblock %}

{% block body %}
  <div class="adventure">
    <h1>모험을 떠났습니다.</h1>
    <p>당신은 '{{random_enemy.name}}'을(를) 만났습니다.</p>
    
    <p>
      <form action="{% url 'games:adventure_attack_result' %}" method="post">
        {% csrf_token %}
        <button type="submit" name="random-enemy" value="{{random_enemy.id}}">공격하기</button>
      </form>
    </p>
  
    <p>
      <a href="{% url 'games:adventure_home' %}">도망치기</a>
    </p>
  </div>
{% endblock %}