.posting-form {
  width: 90%;
  margin: auto;
}

.posting-form__function--bottom {
  text-align: right;
}

.button {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid;
  border-radius: 10px;
  background-color: Khaki;
  color: SaddleBrown;
  font-size: 1rem;
  text-decoration: none;
}

input{
  padding: 5px 10px;
  font-family: 'GangwonEdu_OTFBoldA';
  font-size: 1rem;
}

input[type=text] {
  width: 95%;
  height: 20px;
  border: 1px solid;
  border-radius: 5px;
}

input[type=submit] {
  cursor: pointer;
}

textarea {
  width: 95%;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
  font-family: 'GangwonEdu_OTFBoldA';
  font-size: 1rem;
}
