input {
  font-family: 'GangwonEdu_OTFBoldA';
  font-size: 1rem;
}

input[type=text] {
  border: 1px solid;
  border-radius: 3px;
}

input[type=number] {
  border: 1px solid;
  border-radius: 3px;
}

input[type=submit] {
  padding: 5px 10px;
  border: 1px solid;
  border-radius: 10px;
  background-color: Khaki;
  color: SaddleBrown;
  text-decoration: none;
  cursor: pointer;
}

button {
  padding: 5px 10px;
  border: 1px solid;
  border-radius: 10px;
  background-color: Khaki;
  color: SaddleBrown;
  font-family: 'GangwonEdu_OTFBoldA';
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
}

.disabled {
  background-color: Gainsboro;
  color: DimGray;
  cursor: default;
}
